.box {
    display: grid;
    grid-template-columns: 100% 100%;
    grid-template-rows: 100vh;
  }
  .box-secondary {
    padding: 30px;
    overflow: auto;
  }
  
  .box-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
  }
  .select_chon_doi{
    height: 50px;
  }
  @media screen and (max-width: 768px) {
    .box-primary {
      display: none;
    }
    .box {
      grid-template-columns: 100%;
    }
  }