.pages {
    &__detail {
        &-button {
            width: 272px;
            height: 50px;
            left: 930px;
            top: 832px;
            background: #119468;
            border-radius: 25px;
            border: unset;
            color: #FFFFFF;
            font-size: 20px;
        }
        &-icon{
            margin-left: -66px;
        }
        &-btn {
            background-color: #f1f1f1;
            color: black;
            border-radius: 50%;
            width: 60px;
            height: 60px;
            object-fit: contain;
            margin-bottom: 45px;
        }

        &-img {
            display: flex;
            overflow-x: scroll;
            scroll-snap-type: x mandatory;
            scroll-behavior: smooth;
            gap: 1rem;
            scroll-padding: 48px;
            padding-bottom: 32px;

            &-item {
                scroll-snap-align: start;
            }

            &::-webkit-scrollbar {
                width: 5px;
                height: 5px;
            }

            &::-webkit-scrollbar-thumb {
                background: linear-gradient(#119468, #00eadf);
                border-radius: 5px;
                width: 5px;
            }
        }
    }
}
