.bases {
    &__p {
        &--cursor {
            cursor: pointer !important;
        }
    }

    &__input {
        &--outline {
            outline: none !important;
        }
    }

    &__avatar {
        vertical-align: middle;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    &__p-event {
        &--none {
            pointer-events: none;
        }
    }

    &__font {
        @for $i from 8 through 40 {
            &--#{$i} {
                font-size: #{$i}px !important;
            }
        }
    }

    &__line-height {
        @for$i from 8 through 40 {
            &--#{i} {
                line-height: #{$i}px !important;
            }
        }
    }

    &__text {
        &--light {
            font-weight: 200;
        }

        &--normal {
            font-weight: 400;
        }

        &--bold {
            font-weight: 700;
        }

        &--uppercase {
            text-transform: uppercase;
        }

        &--white {
            color: white !important;
        }

        &--red {
            color: red !important;
        }

        &--green {
            color: #119468;
        }
    }

    &__background {
        &--white {
            background-color: rgba(255, 255, 255, 0.062) !important;
        }

        &--red {
            background-color: red !important;
        }

        &--green {
            background-color: #119468 !important;
        }
    }

    &__header-table {
        margin-left: 75px !important;
        margin-right: 75px !important;
        margin-bottom: -33px !important;
        background-color: #119468 !important;

        .MuiInputBase-input {
            color: white !important;
            width: 40% !important;
            font-size: 18px !important;
        }

        .MuiSvgIcon-root {
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(284deg) brightness(107%) contrast(103%);
        }
    }

    &__border {
        &--unset {
            border: unset;
        }

        &--gray-radius {
            border: 1px solid rgba(35, 35, 36, 0.322) !important;
            border-radius: 5px;
        }
    }

    &__inputList {
        &--form {
            margin-bottom: 10px !important;
            display: flex !important;
        }

        &--item {
            margin: 5px !important;
            font-family: inherit !important;
            font-size: inherit !important;
            line-height: inherit !important;
            border: 1px solid !important;
            border-radius: 7px !important;
            height: 50px !important;
            padding: 12px !important;
        }
    }

    &__margin {
        @for $i from 0 through 500 {
            &--left#{$i} {
                margin-left: #{$i}px !important;
            }

            &--right#{$i} {
                margin-right: #{$i}px !important;
            }

            &--bottom#{$i} {
                margin-bottom: #{$i}px !important;
            }

            &--top#{$i} {
                margin-top: #{$i}px !important;
            }

            &--vertical#{$i} {
                margin-top: #{$i}px !important;
                margin-bottom: #{$i}px !important;
            }

            &--horizontal#{$i} {
                margin-left: #{$i}px !important;
                margin-right: #{$i}px !important;
            }

            &#{$i} {
                margin: #{$i}px !important;
            }
        }
    }

    &__padding {
        @for $i from 0 through 200 {
            &--left#{$i} {
                padding-left: #{$i}px !important;
            }

            &--right#{$i} {
                padding-right: #{$i}px !important;
            }

            &--bottom#{$i} {
                padding-bottom: #{$i}px !important;
            }

            &--top#{$i} {
                padding-top: #{$i}px !important;
            }

            &--vertical#{$i} {
                padding-top: #{$i}px !important;
                padding-bottom: #{$i}px !important;
            }

            &--horizontal#{$i} {
                padding-left: #{$i}px !important;
                padding-right: #{$i}px !important;
            }

            &#{$i} {
                padding: #{$i}px !important;
            }
        }
    }

    &__width {
        @for $i from 0 through 999 {
            &--#{$i} {
                width: #{$i}px !important;
            }
        }
    }

    &__height {
        @for $i from 0 through 999 {
            &--#{$i} {
                height: #{$i}px !important;
            }
        }
    }

    &__filter {
        &--white {
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(284deg) brightness(107%) contrast(103%);

        }
    }
}